certifi==2020.6.20
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
dask==2.6.0
decorator==5.1.0
easydict==1.9
einops==0.3.2
fake-bpy-module-2.79==20200724
gensim==3.8.3
h5py==2.10.0
idna==2.10
joblib==0.14.1
jsonpatch==1.32
jsonpointer==2.2
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.4
nltk==3.6.2
numpy==1.14.3
Pillow==7.2.0
pyemd==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.2
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==20.0.0
regex==2021.11.2
requests==2.25.1
scikit-image==0.14.0
scikit-learn==0.21.2
scipy==1.2.1
six==1.16.0
smart-open==3.0.0
toolz==0.11.2
torch==1.1.0
torchfile==0.1.0
torchvision==0.1.6
tornado==6.1
tqdm==4.62.3
urllib3==1.26.7
visdom==0.1.8.9
websocket-client==0.59.0
